.error404 {
    #hero {
        display: none;
    }
    article {
        padding-top: 8rem;
        text-align: center;

        h1 {
            @include poly-fluid-sizing(
                'font-size',(
                320px: 36px,
                768px: 56px,
                1024px: 72px
                )
            );
        }

        h2 {
            max-width: 40rem;
            margin: 0 auto;
            line-height: 1.4;
        }

        .article-header {
            padding: 10vh 0;
        }

        .widget_search {
            padding: 0;
        }
    }
}