#bottom-bar {
    max-width: 120rem;
    width: 100%;
    z-index: 9999;
    transition: all 0.4s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    position: fixed;

    @include mq-up(md) {
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);

    }

    @include mq-down(md) {
        bottom: 2rem;
        padding: 0 2rem;
        transform: translateY(calc(100% + 2rem));

        p {
            font-size: 1.4rem;
        }


        .container {
            padding: 0;
        }
    }

    .wrapper {
        position: relative;
        padding: 1rem 1rem;
        background: $primary;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;

        @include mq-up(md) {
            flex-flow: row nowrap;
            padding: 1rem 6rem;
        }

        @include mq-up(lg) {
            flex-flow: row wrap;
        }

        @include mq-down(md) {
            @include box-shadow(2);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

        }

        .avatar {
            max-width: 7rem;
            max-height: 7rem;
            border-radius: 50px;
            overflow: hidden;

            @include mq-down(md) {
                position: fixed;
                top: -43%;
                width: 5rem;
                right: 2rem;

                img {
                    border-radius: 50px;
                    @include box-shadow(2);

                }

            }
        }


        p {
            flex-grow: 1;

            @include mq-up(md) {
                margin-left: 2rem;
            }

            @include mq-down(md) {
                text-align: center;
            }
        }

        .cta-group {
            justify-self: flex-end;

            .button {
                margin: 0;
            }

            @include mq-up(md) {
                text-align: center;
            }

            @include mq-up(lg) {
                text-align: left;
            }

            @include mq-down(md) {
                width: 100%;
            }

            .close {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.8rem;
                transition: all 0.4s cubic-bezier(0.24, 0.9, 0.46, 0.91);
                display: block;
                height: 1.6rem;
                width: 1.6rem;
                right: 2rem;
                transform: rotate(135deg) translateY(-50%);
                transform-origin: top;
                border-radius: 50px;
                background: $primary;
                padding: 1.5rem;
                cursor: pointer;

                @include mq-up(md) {
                    right: 2rem;

                    &:hover {
                        background: darken($primary, 10%);
                    }

                }

                .line {
                    background: $blue;
                    width: 1.6rem;
                    height: 0.2rem;
                    display: block;
                    left: 7px;
                    top: 14px;
                    position: absolute;

                    &.line2 {
                        transform: rotate(-90deg);
                        transform-origin: top center;
                        position: absolute;
                        top: 15px;
                        left: 6px;
                    }
                }
            }
        }
    }

    &.hide {

        @include mq-up(md) {
            transform: translate(-50%, calc(100% + 1rem));
        }

        @include mq-down(md) {
            opacity: 0;
        }
    }
    
    &.collapsed {
        p, .cta-group {
            display: none;
        }
    }


    &.active {
        @include mq-down(md) {
            transform: translateY(0)
        }
    }
}

#bottom-bar__landing {
    width: 100%;
    z-index: 9999;
    transition: all 0.4s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    position: fixed;
    background-color: $primary;

    @include mq-up(md) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    @include mq-down(md) {
        bottom: 2rem;
        padding: 0 2rem;
        transform: translateY(calc(100% + 2rem));

        p {
            font-size: 1.4rem;
        }


        .container {
            padding: 0;
        }
    }

    .wrapper {
        position: relative;
        padding: 1rem 1rem;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        @include mq-up(md) {
            flex-flow: row nowrap;
            padding: 1rem 6rem;
        }

        @include mq-up(lg) {
            flex-flow: row wrap;
        }

        @include mq-down(md) {
            @include box-shadow(2);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

        }

        .avatar {
            max-width: 7rem;
            max-height: 7rem;
            border-radius: 50px;
            overflow: hidden;

            @include mq-down(md) {
                position: fixed;
                top: -43%;
                width: 5rem;
                right: 2rem;

                img {
                    border-radius: 50px;
                    @include box-shadow(2);

                }

            }
        }


        p {
            flex-grow: 1;

            @include mq-up(md) {
                margin-left: 2rem;
            }

            @include mq-down(md) {
                text-align: center;
            }
        }

        .cta-group {
            justify-self: flex-end;

            .button {
                margin: 0;
            }

            @include mq-up(md) {
                text-align: center;
            }

            @include mq-up(lg) {
                text-align: left;
            }

            @include mq-down(md) {
                width: 100%;
            }
        }
    }

    &.hide {

        @include mq-up(md) {
            transform: translate(-50%, calc(100% + 1rem));
        }

        @include mq-down(md) {
            opacity: 0;
        }
    }


    &.active {
        @include mq-down(md) {
            transform: translateY(0)
        }
    }
}