.button {
    position: relative;
    display: block;
    line-height: 1;
    padding: 1.5rem 2rem;
    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    border-radius: 1rem;
    font-family: $ff-title;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0;
    border: 1px solid transparent;

    @include mq-up(sm) {
        display: inline-block;
    }

    @include mq-down(md) {
        text-align: center;
    }

    i {
        margin-right: 1rem;
    }

    &.primary {
        padding: 1.5rem 4rem;
        background-color: $primary;
        color: $secondary;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }

    &.secondary {
        padding: 1.5rem 4rem;
        background-color: $secondary;
        color: #fff;

        &:hover {
            border: 1px solid darken($secondary, 10%);
            background-color: darken($secondary, 10%);
        }
    }

    &.tertiary {
        padding: 1.5rem 4rem;
        background-color: $tertiary;
        color: #fff;

        &:hover {
            border: 1px solid darken($tertiary, 10%);
            background-color: darken($tertiary, 10%);
        }
    }

    &.parents {
        padding-left: 6rem;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            width: 3.1rem;
            height: 3.1rem;
            background-image: url("../images/picto-parents.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }

        @include mq-up(md) {
            margin-right: 4rem;
        }
    }

    &.pro {
        padding-left: 6rem;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            width: 3.2rem;
            height: 2rem;
            background-image: url("../images/picto-formations.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.outlined {
        background: transparent;
        border: 2px solid $primary;
        color: $tertiary;

        &:hover {
            border: 2px solid $tertiary;
        }
    }

    &.white {
        background: #fff;
        color: $secondary;

        &:hover {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &.search {
        padding: 1.2rem 2rem;

        input {
            border: 0;
            outline: 0;
            font-size: 1.6rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.rounded {
        background: $blue;
        border-radius: 50px;
        width: 32px;
        height: 32px;
        color: #fff;
        font-size: 1.4rem;
        padding: 0;

        i {
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &.link {
        background: transparent;
        border: 0;
        color: $blue;
        font-family: $ff;
        font-weight: 400;
        padding-left: 0;

        &:after {
            content: '\f105';
            position: absolute;
            background: $blue;
            padding: .4rem .8rem;
            border-radius: 50px;
            font-size: 1.4rem;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #fff;
        }
    }

    &.openModal {
        &.success {
            pointer-events: none;

            &:before,
            &:after {
                display: none;
            }

        }
    }

    &.side.doc {
        position: fixed;
        top: 20rem;
        right: 0;
        background: $secondary;
        z-index: 99999;
        padding: 2.5rem;
        padding-left: 7.5rem;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        max-width: 25rem;
        color: #fff;

        i {
            position: absolute;
            top: 50%;
            left: 3rem;
            transform: translateY(-50%);
            font-size: 3rem;
            margin-right: 2rem;
            line-height: 3rem;
        }

        &.expand {
            right: -174px;
        }

        &:focus,
        &:hover {
            right: 0;
        }

        @include mq-down(md) {
            right: -174px;

        }

        @include mq-up(md) {}
    }
}



// read more link

a.more {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

// Back button

a.back {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    margin: 2rem 0;
    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    font-family: $ff-title;
    font-size: 1.4rem;

    &:before {
        content: "prev";
        position: absolute;
        top: 51%;
        left: 0;
        transform: translate(0, -50%);
        width: 1rem;
        height: 1rem;
        font-family: swiper-icons;
        font-size: .8rem;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1.1rem;
        font-weight: 600;
        opacity: 1;
        transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    }

    &:hover {
        transform: translateX(.2rem);

        &::before {
            transform: translate(-.5rem, -50%);
            opacity: 1;
            left: 0;
        }
    }
}