#cookie-notice {
    background-color: red;

    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    width: calc(100% - 4rem);
    min-width: calc(100% - 4rem) !important;
    border-radius: 5px;

    @include mq-up(md) {
        min-width: 400px !important;
        max-width: 45rem;
        left: 2rem;
        right: auto;
    }

    .cookie-notice-container {
        display: flex;
        flex-flow: row wrap;
        padding-left: 8rem;
        text-align: left;

        #cn-notice-text {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -5rem;
                width: 3rem;
                height: 3rem;
                background: url("../images/cookie.svg");
                }

        }

        .cn-button {
            display: none;
        }

    }

}