footer.main-footer {
    padding: 6rem 0 0;


    @include mq-down(md) {
        padding: 3rem 0 0;
    }

    .footer__wrapper {
        border-top: 1px solid rgba($secondary, .4);
        margin-top: 6rem;
        padding-top: 6rem;

        h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.8rem;
            margin-bottom: 0;
            font-family: $ff;
            color: $secondary;
        }

        ul {
            padding-left: 0;
            @extend .no-list;

            li {
                line-height: 1.4;
            }

            i {
                padding-right: 2rem;
                width: 2.6rem;
                color: $blue;
            }
        }

        p,
        a {
            font-size: 1.4rem;
            color: $blue;
        }

        @include mq-down(md) {
            margin-top: 0;
        }

        .footer__adress {
            img {
                width: 10rem;

                .a {
                    fill: $grey-dark;
                }
            }
        }
    }

    #credits {
        display: block;

        .credits__wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding: 4rem 0;
            margin-top: 4rem;
            border-top: 1px solid rgba($grey-dark, 0.5);

            p {
                font-size: 1.2rem;
                color: $grey-dark;
                display: flex;
                flex-flow: row wrap;
            }

            .made-by {
                display: flex;

                a {
                    margin-left: 1rem;
                    width: 1.5rem;

                    svg {
                        max-width: 1.5rem;
                        display: inline-block;

                        .a {
                            transition: 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
                        }
                    }

                    &:hover {
                        svg {
                            .a {
                                fill: $primary;
                            }
                        }
                    }
                }
            }
        }

        a {
            transition: 0.3s ease-out;
            color: $secondary;

            &:hover {
                color: $primary;
            }
        }
    }
}