form {
    margin-top: 3rem;

    label {
        span {
            display: block;
            margin-top: 1rem;
        }

        &+label {
            display: block;
            margin-top: 2rem;
        }
    }

    small {
        display: block;
        margin-top: 2rem;
    }

    h2 {
        margin-bottom: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        padding: 1.5rem;
        outline: 0;
        border: 0;
        border-radius: 3px;
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        font-family: $ff;
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.1);
        box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.1);
        transition: 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        @include poly-fluid-sizing("font-size",
            (320px: 16px,
                1024px: 18px,
            ));

        &::placeholder {
            text-align: center;
            color: rgba($primary, 0.4);
            font-family: $ff;
            font-weight: 600;
            @include poly-fluid-sizing("font-size",
                (320px: 16px,
                    1024px: 18px,
                ));
        }

        &:focus {
            -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.25);
            box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.25);
        }

        &.error,
        &.wpcf7-not-valid {
            -webkit-box-shadow: 0px 0px 15px -1px rgba(178, 56, 73, 0.6);
            box-shadow: 0px 0px 15px -1px rgba(178, 56, 73, 0.6);
        }
    }

    select {
        width: 100%;
    }

    input[type="submit"] {
        @extend .button;
        @extend .primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1.4rem;
        border: 0;
    }

    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .wpcf7-response-output {
        display: none !important;

        &.wpcf7-mail-sent-ok {
            background: $primary;
            padding: 4rem;
            display: block;
            color: #fff;
            padding: 2rem;
            border-radius: 50px;
            text-align: center;
            border: 0;
            max-width: 60rem;
            margin: 0 auto;
        }

        &.wpcf7-validation-errors {
            display: none !important;
        }
    }
}

/* Buttons */
form .prev-btn,
form .next-btn {
    @extend .custom-swiper-button;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "next";
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
    }
}

form .prev-btn {
    &:after {
        content: "prev";
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
    }
}

/* Error */
span.error {
    font-size: 12px;
    font-family: "helvetica neue", arial, sans-serif;
    color: #d6041d;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.error+.wpcf7-list-item-label {
    color: #d6041d;
}

.wpcf7-not-valid-tip {
    display: none !important;
}

#form-input-title {
    display: none;
}


// Newsletter small form 

.sib_signup_box_inside_1 {

    p:first-of-type {
        display: block;
        margin-top: 1rem;
    }

    p + p {
        margin-top: 2rem;
    }
    p.sib-FORMATIONS-area {
        margin-top: 0;
    }

    input {
        &[type="text"],
        &[type="email"] {
            padding: .5rem;
            max-width: 260px;
            font-size: 1.4rem;
            border: 1px solid $primary;
            box-shadow: none;

            &::placeholder {
                font-size: 1.4rem;
                color: rgba($secondary, .6);
                text-align: left;
            }
        }
    }

    .sib_loader {
        max-width: 2rem !important;
        max-height: 2rem !important;
    }
}