header.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

    &.header {
        @include mq-up(lg) {
            &.scrolled {
                background: #fff;
                top: -48px;
                -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

                #main__nav {
                    margin: 0;
                    // overflow: hidden;

                    .logo {
                        max-width: 5rem;

                        svg {
                            .cls-1 {
                                fill: #faa0d0;
                            }

                            .cls-2 {
                                fill: #912e60;
                            }

                            .cls-3 {
                                stroke: #912e60;
                            }
                        }
                    }
                    #nav__list:not(.menu--landing) {
                        a {
                            color: $secondary !important;

                            &:before {
                                background: $secondary !important;
                            }
                        }

                        .menu-item-has-children {
                            &:after {
                                color: $secondary !important;
                            }
                        }
                    }

                    #nav__list.menu--landing {
                        a {
                            color: $blue !important;
                        }
                    }
                }
            }
        }

        .header__wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;

            .logo-header {
                z-index: 9999;
                height: 3.3rem;

                @include mq-up(lg) {
                    display: none;
                }

                @include mq-down(lg) {
                    margin: 2rem 2rem 1rem 2rem;
                    max-width: 15rem;
                }

                @include mq-down(md) {
                    left: 6vw;
                }

                svg {
                    width: 6rem;
                    transition: 0.3s ease-out;

                    .cls-1,
                    .cls-2 {
                        fill: #fff;
                    }

                    .cls-3 {
                        stroke: #fff;
                    }
                }

                img {
                    @include mq-down(md) {
                        max-height: 100%;
                    }
                }
            }
        }
    }

    &.open-menu {
        .logo-header {
            svg {
                transition-delay: 0.2s;
                fill: #fff !important;
            }
        }
    }

    @include mq-down(lg) {
        &.scrolled {
            background: #fff;
            border-bottom: 1px solid rgba($grey-dark, 0.3);

            .logo.logo-header {
                svg {
                    width: 4rem;

                    .cls-1 {
                        fill: #faa0d0;
                    }

                    .cls-2 {
                        fill: #912e60;
                    }

                    .cls-3 {
                        stroke: #912e60;
                    }
                }
            }
        }
    }
}
