
.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 99999;
  }
  

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 2rem;
    height: 90vh;
    width: 90%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid $tertiary;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    @include mq-up(md) {
      width: 50%;
      padding: 4rem;
    }

    @media (min-height: 950px) {
      position: absolute;
      height: auto;
      min-height: 900px;
    }
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .3s ease-out;
    position: absolute;
    top: 4rem;
    right: 2rem;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}