nav {
    // Secondary Navigation

    &#secondary__nav {
        left: 0;
        width: 100%;
        height: 45px;
        transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

        // border-bottom: 1px solid rgba($grey-dark, 0.2);

        #nav__list {
            @include reset-ul;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            margin-top: 1rem;

            li {
                a {
                    position: relative;
                    display: inline-block;
                    font-size: 1.2rem;
                    color: $grey-dark;
                    padding: 18px;
                    font-weight: 600;
                    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

                    &:hover {
                        color: darken($grey-dark, 20%);
                    }
                }

                &.fb {
                    a {
                        font-size: 0;

                        &:before {
                            content: "";
                            background: url("../images/facebook.svg");
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                &.lkd {
                    a {
                        font-size: 0;

                        &:before {
                            content: "";
                            background: url("../images/linkedin.svg");
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                &.ig {
                    a {
                        font-size: 0;

                        &:before {
                            content: "";
                            background: url("../images/instagram.svg");
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                &.shop {
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    a {
                        position: relative;
                        background: $secondary;
                        padding: 1rem 1rem 1rem 3rem;
                        border-radius: 3px;
                        color: #fff;
                        letter-spacing: 1px;

                        &:hover {
                            background: darken($secondary, 10%);
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            transform: translateY(-50%);
                            background: url("../images/icon-shop.svg");
                        }
                    }
                }
            }
        }
    }

    // Main Navigation

    &#main__nav {
        width: 100%;
        transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

        // Logo in navbar

        .logo {
            z-index: 9999;
            height: 3.3rem;
            transition: 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

            @include mq-up(lg) {
                max-width: 20rem;
            }

            @include mq-down(lg) {
                display: none;
            }

            img {
                max-height: 7.9rem;
            }

            svg {
                width: 100%;
                max-width: 10rem;
                transition: 0.3s ease-out;


                .cls-1,
                .cls-2 {
                    fill: #fff;
                }

                .cls-3 {
                    stroke: #fff;
                }
            }
        }

        //   Specific contact button in nav

        .button-nav {
            @include mq-up(lg) {
                margin-left: 2rem;
            }

            a {
                @extend .button;
                @extend .primary;
                margin: 0.8rem 0 0 0 !important;
                padding: 1.2rem 2rem !important;
                color: #fff !important;
            }
        }

        @include mq-up(lg) {
            #nav__list {
                @include reset-ul;
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                >li {
                    >a {
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 2rem;
                            height: 0.2rem;
                            width: calc(100% - 4rem);
                            background-color: $tertiary;
                            transform-origin: right top;
                            transform: scale(0, 1);
                            transition: color 0.1s, transform 0.2s ease-out;
                        }

                        &:active::before {
                            background-color: $tertiary;
                        }

                        &:hover::before,
                        &:focus::before {
                            transform-origin: left top;
                            transform: scale(1, 1);
                        }
                    }

                    a {
                        display: inline-block;
                        padding: 2rem;
                        font-family: $ff-title;
                        font-size: 1.8rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
                        position: relative;
                        color: $tertiary;
                    }

                    &.current-menu-item {
                        >a {
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 2rem;
                                height: 0.2rem;
                                width: calc(100% - 4rem);
                                transform: scale(1, 1);
                                background-color: $tertiary;
                            }

                            &:active::before {
                                background-color: $tertiary;
                            }

                            &:hover::before,
                            a:focus::before {
                                transform-origin: left top;
                                transform: scale(1, 1);
                            }
                        }
                    }

                    // Sub-level #1

                    &.menu-item-has-children {
                        position: relative;
                        padding-right: 3rem;

                        &:after {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f0d7";
                            color: $tertiary;
                        }

                        ul.menu {
                            @include reset-ul;
                            opacity: 0;
                            position: absolute;
                            background: #fff;
                            top: 100%;
                            pointer-events: none;
                            -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                            -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                            max-height: 0;
                            transition: max-height 0.6s ease-out;
                            overflow: hidden;

                            li {
                                >a {
                                    display: block;
                                    padding-left: 4rem;
                                    min-width: 20rem;
                                    transition: 0.3s ease-out;
                                    color: $secondary;

                                    &:hover {
                                        background: rgba($secondary, 0.5);
                                    }
                                }
                            }
                        }

                        &:hover {
                            ul.menu {
                                opacity: 1;
                                pointer-events: all;
                                max-height: 30rem;
                            }
                        }
                    }

                    &.fb {
                        a {
                            font-size: 0;
    
                            &:before {
                                content: "";
                                background: url("../images/facebook-blue.svg");
                                background-repeat: no-repeat;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
    
                    &.lkd {
                        a {
                            font-size: 0;
    
                            &:before {
                                content: "";
                                background: url("../images/linkedin-blue.svg");
                                background-repeat: no-repeat;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
    
                    &.ig {
                        a {
                            font-size: 0;
    
                            &:before {
                                content: "";
                                background: url("../images/instagram-blue.svg");
                                background-repeat: no-repeat;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @include mq-down(lg) {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: $primary;
        transform: translateX(130%);
        transition: 0.3s ease-out;

        .logo {
            display: none;
        }
    }

    // Mobile nav

    &.open-menu {
        transition: 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

        transform: translateX(0);
        position: fixed;
        overflow-y: scroll;

        li.menu-item-has-children {
            >a {
                display: none !important;
            }
        }
    }

    // Main nav in mobile

    @include mq-down(lg) {
        &#main__nav {
            #nav__list {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 8rem 0 4rem;
                margin-top: 6rem;
                list-style: none;

                >li {
                    &:before {
                        display: none;
                    }

                    a {
                        color: #fff;
                        font-size: 4rem;
                        padding: 1rem 0;
                        display: inline-block;
                        text-align: left;
                        font-family: $ff-title;
                    }

                    &.current-menu-item,
                    &:hover {
                        position: relative;
                    }

                    // Sub-level #1

                    &.menu-item-has-children {
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 3rem;
                            width: 1rem;
                            height: 1rem;
                            // background: url("../images/arrow-down.svg");
                            background-repeat: no-repeat;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        >ul {
                            list-style: none;
                            padding: 0;

                            li {
                                a {
                                    // font-size: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Secondary nav in Mobile

    @include mq-down(lg) {
        &#secondary__nav {
            background-color: transparent;
            z-index: 2;
            top: 7rem;
            height: 65px;

            #nav__list {
                justify-content: center;

                a {
                    font-size: 1rem;
                }
            }
        }
    }
}

// Burger Menu
.burger__menu {
    position: absolute;
    top: 0rem;
    right: 2rem;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2rem;
    z-index: 9999;
    background-color: transparent;
    outline: 0;

    @include mq-up(lg) {
        display: none;
    }

    @include mq-down(md) {
        right: 0;
    }

    &.open {

        span:before,
        span:after {
            background-color: #fff;
        }
    }
}

.burger__menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.burger__menu span:before,
.burger__menu span:after {
    position: absolute;
    content: "";
}

.burger__menu span,
.burger__menu span:before,
.burger__menu span:after {
    width: 20px;
    height: 2px;
    background-color: $primary;
    display: block;
}

.burger__menu span:before {
    margin-top: -7px;
}

.burger__menu span:after {
    margin-top: 7px;
}

.burger span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.burger span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.burger span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.burger__menu.open {
    span {
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }

    span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
    }
}

// Footer nav

.footer__nav {
    @include mq-up(md) {
        width: calc(66.6666666% - 4rem);
    }

    #menu-footer {
        @extend .no-list;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        justify-content: space-between;

        >li {
            @include mq-down(lg) {
                width: 100%;
            }

            a {
                display: inline-block;
                padding: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 1px;
                transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
                position: relative;
                color: $grey-dark;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 1rem;
                    height: 0.2rem;
                    width: calc(100% - 2rem);
                    background-color: $grey-dark;
                    transform-origin: right top;
                    transform: scale(0, 1);
                    transition: color 0.1s, transform 0.2s ease-out;
                }

                &:active::before {
                    background-color: $tertiary;
                }

                &:hover::before,
                &:focus::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            >a:first-child {

                &:before,
                &:after {
                    display: none;
                }
            }

            ul {
                @extend .no-list;
            }
        }

        >li {
            >a:first-child {
                font-weight: 600;
            }
        }
    }
}