// Module reused in multiple pages

#news {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/wp-content/themes/wpand-theme/assets/images/common-wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        z-index: -1;
    }
    .swiper-news {
        position: relative;
        padding: 2rem 0;
        width: 100%;

        .swiper-slide {
            .img__wrapper {
                min-height: 20rem;
                object-fit: cover;

                img {
                    max-width: 100%;
                    max-height: 20rem;
                    object-fit: cover;
                    height: 20rem;
                }
            }

            .news__content {
                display: flex;
                flex-flow: column wrap;
                align-items: flex-start;
                padding: 2rem 4rem 1rem;
                min-height: 23rem;

                h3 {
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                p {
                    flex-grow: 1;
                }
            }
        }
    }
}

// Page listing all News

.page-template-template-news {
    .news__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .news__single {
            width: 100%;
            margin-top: 2rem;

            @include mq-up(md) {
                width: calc(50% - 2rem);
            }

            @include mq-up(lg) {
                width: calc(33.3333333% - 2rem);
            }

            // @include mq-up(xl) {
            //     width: calc(25% - 2rem);
            // }

            .img__wrapper {
                min-height: 20rem;
                object-fit: cover;

                img {
                    max-width: 100%;
                    max-height: 20rem;
                    object-fit: cover;
                    height: 20rem;
                }
            }
            .news__content {
                padding: 4rem;
            }
        }
    }
}

// Single news

.single-post {
    article header {
        padding-top: 24.5rem;

        .row {
            padding-bottom: 4rem;
            border-bottom: 1px solid rgba($grey-dark, 0.3);
        }

        h1 {
            padding-top: 0;
        }

        p {
            font-size: 2rem;
            max-width: 60rem;
        }
        .content__header {
            @include mq-up(md) {
                .content__infos {
                    max-width: calc(60% - 2rem);
                }
                .content__illu {
                    max-width: calc(40% - 2rem);
                }
            }
        }
    }

    .body-article {
        max-width: 100rem;

        h2,
        h3 {
            margin: 2rem 0 1rem;
        }
        img {
            margin: 2rem 0;
        }
        p {
            font-size: 1.8rem;
        }
    }
}
