.partners {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    
    @include mq-down(md) {
        text-align: center;
        justify-content: center;
    }

    @include mq-up(md) {
        flex-flow: row nowrap;
        text-align: center;
    }

    .partners__single {
        max-width: 25rem;
        width: calc(50% - 1rem);
        margin-bottom: 2rem;

        @include mq-up(md) {
            width: calc(20% - 1rem);
        }
    }
}
