.widget_search {
    background: $secondary;
    padding: 2vh 0 4vh;

    form.search-form {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;

        .search__wrapper {
            position: relative;
            width: 100%;
            max-width: 60rem;
            margin: 6rem 0 2em;
            transition: .3s ease-out;
            
            .search-field {
                display: block;
                width: 100%;
                max-width: 40rem;
                padding: 2rem 2rem;
                margin: 0 auto;
                border: 0;
                background-color: rgba(#fff, .5);
                outline: 0;
                color: $primary;
                font-size: 2rem;
                border-radius: 5px;
                transition: .3s ease-out;
                
                &::placeholder {
                    color: rgba($primary, .5);
                }
            }

            label {
                pointer-events: none;
                opacity: 0;
                position: absolute;
                right: 2rem;
                top: 1.8rem;
                transition: .3s ease-out;
                transition-delay: .3s;
                
                input[type='submit'] {
                    display: none;
                }
                
                svg {
                    width: 3rem;
                    height: 3rem;
                    cursor: pointer;

                    .cls-1 {
                        fill: $secondary;
                    }
                }
            }

            .search-field {
                
                &.active {
                    background: #fff;
                    max-width: 60rem;

                    & + label {
                        pointer-events: all;
                        opacity: 1;
                    }
                }
            }
        }
    }
}