// make sticky element on scroll


.sticky-fixed {
    position: fixed;
    top: 5.5rem;
    z-index: 99;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-99px);
    }
    100% {
        transform: translateY(0px);
    }
}