.swiper-container {
    @include mq-up(md) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-left: -1rem !important;
        margin-right: -1rem !important;
    }
}

.swiper-button-prev,
.swiper-button-next,
.custom-swiper-button {
    background-color: $secondary;
    border-radius: 5rem;
    width: 5rem !important;
    height: 5rem !important;
    outline: 0;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.1);
    box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.1);
    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

    &:after {
        font-size: 1rem !important;
        color: #fff;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.3);
        box-shadow: 0px 0px 15px -1px rgba(0, 77, 191, 0.3);
        transform: scale(1.1);
    }
}
.btn-prev-news {
    left: -2rem !important;

    @include mq-up(md) {
        left: -1.8% !important;
    }
}
.btn-next-news {
    right: -2rem !important;

    @include mq-up(md) {
        right: 0 !important;
    }
    @include mq-up(lg) {
        right: 32.2% !important;
    }

    @include mq-up(xxl) {
        right: 23.9% !important;
    }
}

.swiper-button-disabled {
    opacity: 0 !important;
}

.btn-next-testimonials-landing {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    @include mq-down(md) {
        right: 0 !important;
    }
}

.btn-prev-testimonials-landing {
    left: 20% !important;

    @include mq-down(md) {
        left: 0 !important;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}