.calendar {
    width: 100%;
    order: 3;

    .dates-wrapper {
        order: 3;
        width: 100%;

        .list-dates {
            h3 {
                margin-top: 4rem;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                padding: 1.5rem 2rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                font-weight: 600;
                background-color: $secondary;
                color: #fff;
                @include poly-fluid-sizing('font-size', (320px: 24px,
                        768px: 28px,
                        1024px: 30px));
            }

            li.item-date {
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid $secondary;
                margin-left: 0;
                margin-right: 0;
                transition: .3s ease-out;

                &:last-child {
                    border-bottom: 1px solid $secondary;
                }

                h4 {
                    margin: 0;

                    span.date {
                        color: $blue;
                        @include poly-fluid-sizing('font-size', (320px: 16px,
                                1024px: 24px));
                    }

                    span.hour {
                        display: block;
                        font-size: 1.6rem;
                        color: $secondary;
                    }
                }


                a.button {
                    @include mq-down(md) {
                        zoom: .7;
                    }
                }

                &.complete {

                    h4,
                    a {
                        opacity: .4;
                    }

                    a.button {
                        background-color: $grey-dark;
                        color: #fff;
                        pointer-events: none;
                    }
                }
            }
        }

        .cta-group {
            text-align: center;
            margin: 4rem 0 2rem;

            .load-more_dates {
                border: 0;
                background: transparent;
                position: relative;
                color: $blue;
                padding-left: 2rem;
                outline: none;
                cursor: pointer;

                // &:before {
                //     content: '';
                //     position: absolute;
                //     top: 50%;
                //     left: 0;
                //     transform: translateY(-50%);
                //     width: 1rem;
                //     height: 1rem;
                //     background: url('../images/plus.svg');
                // }
            }
        }
    }
}

.page-template-template-formations {

    .list-dates {
        li.item-date {
            &:nth-of-type(n+3) {
                visibility: hidden;
                height: 0;
                opacity: 0;
            }

            &.expand {
                &:nth-of-type(n+3) {
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}