table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;

    &:nth-child(2n) {
        background: rgba($primary, .3);
    }
}

table th,
table td {
    padding: 15px 10px;
    text-align: center;
    border-right: 1px solid #ccc;
}

table th {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: rgba($primary, .7);
}

table td {
    font-size: 1.6rem;
    text-align: left;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }

    table td {
        border-bottom: 1px dotted #ccc;
        display: block;
        font-size: 13px;
        text-align: right;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}