#team {
    position: relative;
    background: #d8dfe5;
    .button {
        text-align: center;
    }

    .swiper-team {
        background: #d8dfe5;
        .swiper-slide {
            max-height: 50rem;
            align-self: flex-end;
            transition: .3s ease-out;
            &:hover {
                transform: scale(1.02);
            }
        }
        img {
            // height: 100%;
            margin-bottom: -.3rem;
        }
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 3px;
    //     background: #fff;
    //     z-index: 1;
    // }
}