.text-image {
    @include mq-up(md) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    h2 {
        @extend .title;
    }

    .img-wrapper,
    .content-wrapper {

        @include mq-up(md) {
            width: calc(50% - 2rem);
        }

        @include mq-up(lg) {
            width: calc(50% - 4rem);
        }
    }

    .img-wrapper {
        margin-bottom: 2rem;
    }

    &.align-right {
        .img-wrapper {

            @include mq-up(md) {
                order: 1;
            }
        }

        .content-wrapper {
            @include mq-up(md) {
                order: 0;
            }
        }
    }

    &.align-bottom {
        display: flex;
        flex-flow: column wrap;

        @include mq-up(md) {
            .img-wrapper {
                width: 100%;
                order: 1;
                max-width: 56rem;
                margin: 0 auto;
                margin-top: 2rem;
            }   
            .content-wrapper {
                width: 100%;
                order: 0;
                max-width: 92rem;
                margin: 0 auto;
                text-align: center;

                h2 {
                    &:before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    &.align-top {
        display: flex;
        flex-flow: column wrap;

        @include mq-up(md) {
            .img-wrapper {
                width: 100%;
                order: 0;
                max-width: 56rem;
                margin: 0 auto;
                margin-bottom: 2rem;
            }   
            .content-wrapper {
                width: 100%;
                order: 1;
                max-width: 92rem;
                margin: 0 auto;
                text-align: center;

                h2 {
                    &:before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}