#timeline {
    padding-bottom: 6rem;

    .timeline__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @include mq-up(md) {
            max-height: 60rem;
            overflow-y: scroll;
            margin-top: 4rem;
            padding-right: 1rem;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 3px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #ccc;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $primary;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: darken($primary, 10%);
        }

        span.year {
            color: $tertiary;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .eu-col {
            width: 35%;

            .eu-timeline__event {
                position: relative;
                padding: 2rem;

                p {
                    max-width: 30rem;
                }
            }
        }
        .year-col {
            width: 15%;
            position: relative;

            .year {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $primary;
                    width: 0.1rem;
                    height: 100%;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background: $primary;
                width: 0.1rem;
                height: calc(100% + 4rem);
            }

            > div {
                text-align: center;
                span {
                    position: relative;
                    background: #fff;
                    font-size: 1.4rem;
                    padding: 0.2rem 0 0.6rem;
                    color: $tertiary;
                    z-index: 2;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0.5rem;
                        height: 0.5rem;
                        border-radius: 25px;
                        background: $primary;
                    }
                }
            }
        }
        .aim-col {
            width: 50%;
            .aim-timeline__event {
                background: $team;
                padding: 2rem;
                border-radius: 5px;
            }
        }
    }
}

.wrapper__year {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    & + .wrapper__year {
        margin-top: 4rem;
    }
    > div {
        &:first-child {
            width: calc(40% - 2rem);
        }

        &:nth-child(2) {
            width: calc(10% - 2rem);
        }

        &:last-child {
            width: calc(50% - 2rem);
        }
    }
}
