#btn-hide-wpbar {
    position: fixed;
    bottom: 0;
    left: 0;
    $lightGrey: #F2F2F2;
    $grey: #6E6E6E;
    $white: #FFFFFF;
    $blue: #1849AB;
    transform: scale(.5);
    
   .hide-btn, .show-btn {
       cursor: pointer;
   }
}