.mdl {
    .column {
        @include mq-up(md) {
            width: calc(50% - 8rem);
        }

        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
    }
}

.img-filigrane {
    display: block;
    width: 90%;
    height: 120%;
    min-height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -8vw;
    pointer-events: none;
}