.accordeon {
    .accordeon__item {
        position: relative;
        border-bottom: 2px solid $primary;

        .content {
            padding: 0;

        }

        &+.accordeon__item {
            margin-top: 2rem;

        }

        .accordeon__item--title {
            position: relative;
            cursor: pointer;
            padding: 2rem 5rem 2rem 2rem;

            h2 {
                @include poly-fluid-sizing('font-size', (768px: 18px,
                        1024px: 24px));

                margin-bottom: 0;
            }

            .date {
                display: inline-block;
                margin-right: 2rem;
                @include poly-fluid-sizing('font-size', (320px: 12px,
                        768px: 16px,
                        1024px: 20px));

            }

            h3 {
                display: inline-block;
                color: $primary;
                margin: 0;
                @include poly-fluid-sizing('font-size', (320px: 14px,
                        768px: 20px,
                        1024px: 24px));

                @include mq-down(md) {
                    display: block;
                }
            }

            .expand {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.8rem;
                transition: all 0.4s cubic-bezier(0.24, 0.9, 0.46, 0.91);
                display: block;
                height: 1.6rem;
                width: 1.6rem;
                right: 2rem;

                &.rotate {
                    .line.line2{
                        top: 7px;
                        left: 0px;
                        transform: rotate(0deg);
                        transform-origin: center;    
                    }
                }

                .line {
                    background: $primary;
                    width: 1.6rem;
                    height: 0.2rem;
                    display: block;
                    left: 0px;
                    top: 7px;
                    position: absolute;

                    &.line2 {
                        transform: rotate(-90deg);
                        transform-origin: top center;
                        position: absolute;
                        top: 8px;
                        left: -1px;
                    }
                }
            }
        }

        .accordeon__item--content {
            max-height: 0;
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
            overflow: hidden;
            padding: 0 4rem;

            .button {
                margin-left: auto;
                margin-bottom: 0;
            }

            &.expanded {
                opacity: 1;
                padding: 2rem 4rem;
                max-height: 1200px;
            }
        }

    }
}