.module-pdf {
    background: #fff;

    .item {
        &+.item {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid #ccc;

        }
    }

    .link-pdf {
        @extend .button;
        @extend .primary;

        i {
            font-size: 3rem;
            display: inline-block;
        }

        .pdf-h3{
            display: inline-block;
            font-family: $ff;
            margin: 0;
        }
    }
}