#hero {
    position: relative;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: ellipse(100% 70% at 50% 30%);
    clip-path: ellipse(100% 70% at 50% 30%);
    // height: 82vh;
    // max-height: 75rem;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $secondary;
        opacity: 0.5;
    }

    .hero__wrapper {
        overflow: hidden;
        padding-top: 7rem;
        padding-bottom: 6rem;

        .hero__content {
            p {
                margin-bottom: 2rem;
            }
        }
    }

    @media (max-height: 850px) {
        // height: 90vh;
        // max-height: 90rem;
    }

    // hero on homepage

    &.hero__homepage {
        .hero__wrapper {
            height: 100%;
            padding-bottom: 0;
            padding-top: 4rem;

            .row {
                height: 100%;
                align-items: center;

                h1 {
                    span.baseline {
                        @include poly-fluid-sizing("font-size",
                            (320px: 18px,
                                768px: 24px,
                                1024px: 36px,
                            ));
                        display: block;
                        text-align: center;
                    }
                }

                .hero__content {
                    h2 {
                        color: #fff;
                        @include poly-fluid-sizing("font-size",
                            (320px: 20px,
                                768px: 22px,
                                1024px: 26px,
                            ));
                        max-width: 71rem;
                        margin: 1rem auto 5rem;
                    }
                }
            }

            @media (min-height: 1081px) {
                margin-bottom: 0;
            }
        }
    }

    // Hero on other pages

    &.hero {
        .hero__wrapper {
            height: 100%;

            .row {
                align-items: center;
                height: 100%;
            }

            .hero__content {
                text-align: left;

                h1,
                h2 {
                    color: #fff;
                }

                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.hero-landing {
        position: relative;
        background: $primary;
        clip-path: none;
        height: auto;

        .banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 0;
            opacity: .1;
        }

        @include mq-up(md) {
            padding-top: 16rem;
            max-height: none;
        }

        &:before {
            display: none;
        }

        .hero__wrapper {
            .hero__content {
                h1 {
                    position: relative;
                    color: $secondary;
                    font-weight: 900;
                    @include poly-fluid-sizing("font-size",
                        (320px: 28px,
                            768px: 36px,
                            1024px: 56px,
                        ));
                    margin-bottom: 6rem;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -2.5rem;
                        left: 0;
                        width: 14rem;
                        height: 0.4rem;
                        background: rgba($secondary, 0.6);
                    }

                    span {
                        display: block;
                        font-size: 2rem;
                        color: $blue;
                        font-weight: 600;
                    }

                    @include mq-up(md) {
                        max-width: 80%;
                    }
                }

                .row {
                    align-items: flex-start;
                }

                h2 {
                    color: $blue;
                    @include poly-fluid-sizing("font-size",
                        (320px: 18px,
                            768px: 20px,
                            1024px: 24px,
                        ));
                    line-height: 1.6;
                    margin: 2rem 0 4rem;
                }
            }

            .box__infos {
                text-align: center;
                font-family: $ff;
                color: $blue;
                padding: 2rem;
                background: #fff;
                margin-left: auto;
                min-height: 177px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;

                @include mq-up(md) {
                    width: 19rem;
                }

                &+.box__infos {
                    border-top: 1px solid #ccc;
                }

                &.box-hours {
                    .number {
                        display: block;
                        @include poly-fluid-sizing("font-size",
                            (320px: 28px,
                                768px: 32px,
                                1024px: 46px,
                            ));
                        padding-bottom: 1rem;
                    }
                }

                &.box-price {
                    .initial-price {
                        display: block;
                        @include poly-fluid-sizing("font-size",
                            (320px: 18px,
                                768px: 20px,
                                1024px: 24px,
                            ));
                        padding-bottom: 1rem;
                        text-decoration: line-through;
                    }

                    .price {
                        display: block;
                        @include poly-fluid-sizing("font-size",
                            (320px: 28px,
                                768px: 32px,
                                1024px: 46px,
                            ));
                        padding-bottom: 2rem;
                    }

                    .desc {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    &.hero-lead-magnet {
        clip-path: none;
        opacity: 1;
        margin-top: 7rem;

        &:before {
            display: none;
        }

        @include mq-up(md) {
            .banner {
                height: 100%;
                position: absolute;
                z-index: 0;
                top: 0;
                right: 40px;
                width: 60%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }
        }

        .hero__wrapper {
            background: $blue;

        }

        h1 {
            font-weight: 900;
            @include poly-fluid-sizing("font-size",
                (320px: 28px,
                    768px: 36px,
                    1024px: 56px,
                ));

            @include mq-up(md) {
                max-width: 60%;
            }
        }

        h2 {
            @include poly-fluid-sizing('font-size', (320px: 20px,
                    1024px: 24px));
        }
    }
}