#quote {
    h2 {
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 20rem;
            height: .4rem;
            background: $secondary;
            transform: translateX(-50%);
        }
    }

    p {
        max-width: 65rem;
        margin: 0 auto;
        text-align: center;
    }
}