.mdl-gallery {
    @include mq-up(md) {
        padding: 12rem 3em 0;
    }

    .gallery {
        max-width: 100%;
        overflow: hidden;

        .swiper-slide {
            max-width: 100%;

            .swiper-img-content {
                overflow: hidden;
                height: 100%;
                width: 100%;
            }

            img {
                transition: transform .2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.lb-data .lb-details {
    display: none;
}