.mdl-text {
    .text-single {
        max-width: 58rem;
        margin: 0 auto;
    }

    &.full-text {

        .text-single {
            max-width: $xl;
        }
    }

    h2 {
        width: 100%;
        margin-bottom: 3rem;
    }

    .column {
        padding: 2rem;
        @include mq-up(md) {
            width: calc(50% - 8rem);
        }

        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;

        h2 {
            position: relative;
            max-width: 40rem;
            padding-left: 10rem;


            &:before {
                content: '';
                position: absolute;
                top: 2rem;
                left: 0;
                width: 8rem;
                height: .4rem;
                background: $secondary;
            }
        }
    }

    .column:nth-of-type(2n+2) {
        @include mq-up(md) {
            margin-left: 8rem;
        }
    }

    .col3{
        +.col3{
            @include mq-down(md) {
                margin-top: 4rem;
            }
        }
    }
}