.cta {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: $grey-light;

    .wrapper {
        max-width: 48rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 4rem;
    }

    h2 {
        margin-bottom: 4rem;
    }

    p {
        text-align: center;
    }

    .button {
        &:first-of-type {
            @include mq-up(md) {
                margin-right: 2rem;
            }
        }
    }

    .img-wrapper {
        align-self: center;
        max-width: 10rem;
        margin-bottom: 2rem;
    }
}