.mdl.mdl-txt-img {
    overflow: hidden;


    h2 {
        @extend .title;
        padding-top: 0;

        @include mq-down(md) {
            margin-top: 3rem;
        }
    }

    .wrapper {

        @include mq-up(md) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        .content {
            @include mq-up(md) {
                width: calc(50% - 6rem);
            }
        }

        .image {
            margin-bottom: 2rem;

            .img-wrapper {
                @include mq-up(md) {
                    height: 450px;
                }

                @include mq-up(xl) {
                    height: 620px;
                }

                @include mq-down(md) {
                    overflow: hidden;
                }
            }

            img {

                @include mq-up(md) {
                    max-width: fit-content;
                    object-fit: cover;
                }

                width: auto;
                min-width: 100%;
                height: 100%;
            }

            @include mq-up(md) {
                margin-bottom: 0;
                width: calc(50% - 2rem);
            }
        }

        &.align-right {
            @include mq-up(md) {
                .image {
                    order: 2;
                }
            }
        }

        &.align-left {
            img {
                float: right;
            }
        }

        &.align-top,
        &.align-bottom {
            .img-wrapper {
                width: 100vw;
            }
        }


        &.align-top {
            @include mq-up(md) {
                .image {
                    width: 100%;
                    height: auto;
                    max-width: 60rem;
                }

                .content {
                    max-width: 90rem;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &.align-bottom {
            @include mq-up(md) {
                .image {
                    width: 100%;
                    height: auto;
                    max-width: 60rem;
                    order: 2;
                }

                .content {
                    max-width: 90rem;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}