.mdl-img{
    padding: 0 0;
    position: relative;
    z-index: 99;
    background-color: #fff;

    .parallax-window {
        position: relative;
        height: 300px;

        
    }

    & + .mdl-img {
        padding-top: 6rem;
    }
}
