// About page

.page-template-template-about {

    // Timeline

    #certifications {
        background-color: $grey-light;

        ul.list-certif {
            @include mq-up(md) {

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-self: flex-start;
            }

            li {
                background: transparent;
                padding: 0 2rem 4rem;

                @include mq-up(md) {
                    max-width: calc(33.3333333% - 1rem);
                    min-height: 30rem;
                }

                @include mq-up(lg) {
                    max-width: calc(33.3333333% - 4rem);
                    min-height: 40rem;
                }

                &.item__certif {
                    background: #fff;
                    border-radius: 15px;
                    margin-bottom: 4rem;
                    width: 100%;

                    @include mq-down(md) {
                        padding: 4rem;
                        margin-bottom: 4rem;
                        min-height: 30rem;
                    }

                    @include mq-up(md) {

                        display: flex;
                        flex-flow: column wrap;
                    }

                    .img-wrapper {
                        position: relative;
                        height: 50%;
                        flex-grow: 1;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .content {
                        padding: 0;

                        .year {
                            display: block;
                            color: $secondary;
                            font-family: $ff-title;
                            margin-bottom: 2rem;
                            @include poly-fluid-sizing('font-size', (320px: 18px,
                                    768px: 20px,
                                    1024px: 24px));
                        }
                    }
                }
            }
        }
    }

    #experiences {
        .img-wrapper {
            max-height: 45rem;
            img {
                height: 100%;
            }
        }
    }

    #cta-rdv {
        .cta__wrapper {
            display: flex;
            flex-flow: column wrap;
            overflow: hidden;

            @include mq-up(md) {
                flex-flow: row wrap;

                .img-wrapper {
                    width: 50%;
                    max-height: 45rem;
                    border-radius: 0;

                    img {
                        height: 100%;
                        max-width: 54rem;
                        object-position: center;
                    }
                }

                .content {
                    width: 50%;
                }
            }
        }
    }
}