.page-template-template-contact {

    .box {
        overflow: hidden;

    }

    #coordonates {

        .wrapper-coordonates {
            padding: 10rem 4rem;

            i {
                margin-right: 2rem;
                vertical-align: top;
            }

            a {
                color: $blue;
                display: inline-block;

                &:hover {
                    color: darken($blue, 10%);
                }
            }

            p {
                color: $blue;
                font-size: 2.4rem;
            }
        }
    }

    // Google map

    #map {
        z-index: 0;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;

        .acf-map {
            width: 100%;
            height: 500px;
            margin: 20px 0;
        }

        // Fixes potential theme css conflict.
        .acf-map img {
            max-width: inherit !important;
        }
    }
}