.page-template-default {
    article {
        padding-top: 10rem;
        padding-bottom: 6rem;
        h2,
        h3,
        h4 {
            color: $primary;
            margin: 1.5rem 0;
        }
        ul,
        li,
        p {
            font-size: 1.8rem;
            line-height: 1.6;
        }
        @extend .container;

        section.entry-content {
        }
    }
}
