.page-template-template-formations {
    #formations {
        .list {
            >li {
                padding: 10rem 0;

                .formation__intro {
                    padding-bottom: 10rem;

                    .img-wrapper {
                        img {
                            max-width: 45rem;
                            height: auto;
                            border-radius: 30px;
                            min-width: 100%;
                        }
                    }
                }

                &:nth-child(2) {
                    background-color: $grey-light;

                    .bg__el {
                        @extend .bg__el--rt;
                        z-index: 1;
                    }

                    .container {
                        z-index: 2;
                        position: relative;
                    }

                    .formation__intro {
                        .img-wrapper {
                            order: 1;

                            @include mq-up(md) {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        .list-formations {
            max-width: 96rem;
            margin: 0 auto;
        }

        .accordeon__item--content {
            .cta-group {
                a {
                    margin-left: 0;

                    @include mq-down(md) {
                        width: 100%;
                    }

                    @include mq-up(md) {
                        &:last-child {
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}