body {
    overflow-x: hidden;

    #about {
        .img-wrapper {
            max-width: 47rem;
        }
    }

    #services {

        .box {
            .content {
                display: flex;
                flex-flow: column wrap;
                min-height: 25rem;

                .link {
                    align-self: flex-end;
                    margin-right: 2rem;
                }
            }
        }

        #consultations {
            position: relative;

            .box {
                width: 100%;

                @include mq-up(md) {
                    width: calc(33.3333333% - 1.3333333rem);


                    &+.box {
                        margin-left: 2rem;
                    }
                }

                @include mq-up(lg) {
                    width: calc(33.3333333% - 2.66666667rem);


                    &+.box {
                        margin-left: 4rem;
                    }
                }

                @include mq-up(xl) {
                    width: calc(33.3333333% - 5.366667rem);


                    &+.box {
                        margin-left: 8rem;
                    }
                }

                .img-wrapper {
                    max-height: 20rem;
                }
            }
        }

        #formations {
            position: relative;
            padding: 8rem 0;

            .formations__wrapper {
                display: flex;
                flex-flow: column wrap;
                overflow: hidden;

                @include mq-up(md) {
                    flex-flow: row wrap;

                    .img-wrapper {
                        width: 50%;

                        img {
                            height: 100%;
                            max-width: 54rem;
                        }
                    }

                    .content {
                        width: 50%;

                        .button {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    #testimonials {
        @include mq-down(md) {
            padding-right: 6vw;
            padding-left: 6vw;
        }

        .swiper-container {
            margin-top: 2rem;
        }
    }
}