.page-template-template-jobs {
    .jobs__wrapper {
        @include mq-up(md) {
            display: flex;
            flex-flow: row wrap;
        }

        > div {
            margin-bottom: 4rem;
            @include mq-up(md) {
                width: calc(50% - 2rem);
                & + div {
                    margin-left: 2rem;
                }
            }

            @include mq-up(lg) {
                width: calc(33.3333333% - 2rem);
            }

            

            .job__content {
                display: flex;
                flex-flow: column wrap;
                align-items: flex-start;
                min-height: 30rem;
                
                h2 {
                    flex-grow: 1;
                }
            }
        }
    }

    #form-jobs {
        position: relative;
        @extend .content__section;

        h2, h3 {
            text-align: center;
        }
    }
}
