.page-template-template-landing {
    .box {
        padding: 4rem 2rem;
        border-radius: 0.3rem;

        h3 {
            color: $blue;
        }
    }

    .link {
        text-decoration: underline;
        color: $blue;
    }

    #section1 {
        .wrapper {
            display: flex;
            flex-flow: row wrap;

            @include mq-up(xl) {
                flex-flow: row nowrap;
            }

            .box {
                width: 100%;

                span.day,
                h3 {
                    display: block;
                    color: $blue;
                    margin: 1rem 0;

                    @include mq-up(xl) {
                        text-align: center;
                    }
                }

                h3 {
                    font-size: 2.4rem;
                }
            }
        }
    }

    #section2 {
        .module__wrapper {
            display: flex;
            flex-flow: column wrap;
            margin-bottom: 4rem;

            h3 {
                font-size: 2.4rem;
            }

            @include mq-up(lg) {
                flex-flow: row wrap;
                margin-bottom: 16rem;
            }

            .box {
                @include mq-up(lg) {
                    order: 0;
                    transform: translateY(6rem);
                    width: calc(50% - 2rem);
                    align-self: flex-end;
                }
            }

            img {
                order: 0;

                @include mq-up(lg) {
                    width: calc(50% + 8rem);
                    margin-left: -6rem;
                    object-fit: cover;
                    max-height: 40rem;
                }
            }

            &:nth-child(odd) {
                .box {
                    @include mq-up(lg) {
                        order: 1;
                        margin-left: -12rem;
                    }
                }
            }

            &:last-child {
                @include mq-up(lg) {
                    margin-bottom: 6rem;
                }
            }
        }
    }

    #section3 {
        .wrapper {
            position: relative;

            .box {
                position: relative;

                @include mq-up(md) {
                    padding-top: 10rem;
                    padding: 10rem 4rem 12rem;
                }
            }

            .list-info {
                @extend .no-list;

                @include mq-up(md) {}

                li {
                    color: $blue;
                    line-height: 1.6;
                    margin-bottom: 2rem;

                    i {
                        margin-right: 2rem;
                    }

                    ul {
                        padding-top: 2rem;

                        @include mq-up(sm) {
                            column-count: 2;
                        }
                    }
                }
            }

            .bonus {
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% + 1rem);
                background: $primary;
                color: $secondary;
                padding: 3rem;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 600;
                margin-left: -.5rem;

                @include mq-down(sm) {
                    position: relative;
                }

            }

            .prices {
                padding: 2rem 4rem;
                border-radius: 3px;
                background-color: $primary;
                z-index: 2;

                @include mq-down(xl) {
                    width: calc(100% + 1rem);
                    margin-left: -.5rem;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                @include mq-up(xl) {
                    position: absolute;
                    top: 3rem;
                    right: -0.5rem;
                }

                @include mq-up(xxl) {
                    right: -13rem;
                }

                .box__infos {
                    text-align: center;
                    color: $blue;

                    &.box-price {
                        .initial-price {
                            display: block;
                            @include poly-fluid-sizing("font-size",
                                (320px: 18px,
                                    768px: 20px,
                                    1024px: 24px,
                                ));
                            padding-bottom: 1rem;
                            text-decoration: line-through;
                        }

                        .price {
                            display: block;
                            @include poly-fluid-sizing("font-size",
                                (320px: 28px,
                                    768px: 32px,
                                    1024px: 46px,
                                ));
                            padding-bottom: 2rem;
                        }

                        .desc {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    #section4 {
        background-color: $grey-light;

        .content__infos {
            text-align: center;

            img {
                max-width: 30rem;
            }
        }

        ul {
            @extend .no-list;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 2rem;

            li {
                i {
                    color: $blue;
                }

                &+li {
                    margin-left: 2rem;
                }
            }
        }
    }

    #zoom,
    #cta-tool {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        @include mq-up(md) {
            padding-top: 25rem;
            margin-bottom: 12rem;
        }

        @include mq-up(lg) {
            padding-top: 50rem;
            margin-bottom: 25rem;
        }

        .box {
            max-width: 85rem;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            @include mq-up(md) {
                margin-bottom: -17rem;
                padding: 4rem 16rem;
            }

            .group-cta {
                margin-top: 4rem;
                display: block;

                a {
                    display: block;
                    margin-bottom: 2rem;

                    @include mq-up(md) {
                        display: inline-block;

                        &+a {
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }

    #cta-tool {

        .box {
            overflow: hidden;
            text-align: left;
            padding: 4rem 8rem;

            .cta-group {
                float: right;
            }
        }
    }

    #section5 {
        .row {
            >div {
                @include mq-down(md) {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }

        span.number {
            display: block;
            text-align: center;
            font-size: 3rem;
            color: $blue;
        }

        p {
            color: $secondary;
        }

        .group-cta {
            text-align: center;
        }
    }

    #section6 {

        .swiper-slide-prev,
        .prev {
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease-out;
            transform: scale(0.8);
        }

        .box {
            position: relative;
            margin: 2rem 0;
            padding: 10rem 6rem;

            &:before {
                content: '"';
                position: absolute;
                top: 6rem;
                left: 6rem;
                width: 1rem;
                height: 1rem;
                font-size: 4.8rem;
            }

            &:after {
                content: '"';
                position: absolute;
                bottom: 6rem;
                right: 6rem;
                width: 1rem;
                height: 1rem;
                font-size: 4.8rem;
            }
        }
    }
}