.page-template-template-lead-magnet {

    header {
        #main__nav {
            svg {
                .cls-1 {
                    fill: #faa0d0 !important;
                }

                .cls-2 {
                    fill: #912e60 !important;
                }

                .cls-3 {
                    stroke: #912e60 !important;
                }
            }

            #nav__list {
                li {
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }

    #content {
        text-align: center;

        .box {
            padding: 4rem 8rem;
        }
    }

    #cta {
        background: $blue;
        text-align: center;

        h2 {
            color: #fff;
            max-width: 75rem;
            margin: 0 auto;
        }

        .button {
            margin-top: 4rem;
        }
    }

    .modal-content {
        height: 70vh !important;
    }
}