.page-template-template-form-submitted {
    height: 90vh;

    .wrapper-view {
        height: 100%;
    }
    header {
        .logo {
            svg {
                .cls-1,
                .cls-2 {
                    fill: currentColor !important;
                }
            }
        }
    }
    #hero {
        display: none;
    }

    #section1 {
        margin-top: 12rem;
        text-align: center;

        p {
            font-size: 1.8rem;
        }

        span {
            display: block;
            @include poly-fluid-sizing(
                'font-size',(
                320px: 26px,
                768px: 30px,
                1024px: 36px
                )
            );
            margin: 2rem 0;
        }
    }
}