article.type-jobs {
    header {
        position: relative;
        
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/wp-content/themes/wpand-theme/assets/images/common-wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        z-index: -1;
    }
    }
}