.page-template-template-consultations,
.page-template-template-formations {
    #search-bar {
        padding-bottom: 0;

        h2 {
            margin-bottom: 4rem;
        }

        ul {
            justify-content: space-between;
            padding: 0;

            li {
                width: 100%;
                text-align: center;

                @include mq-up(md) {
                    width: calc(33.3333333% - 4rem);

                }

                button {
                    text-align: left;
                    padding-left: 8rem;
                    font-size: 2.2rem;
                    font-weight: 600;
                    outline: none;
                    cursor: pointer;
                    background: $primary;
                    border: 0;
                    color: $secondary;

                    @include mq-down(md) {
                        display: block;
                        width: 100%;

                        @include poly-fluid-sizing('font-size', (320px: 18px,
                                768px: 20px,
                                1024px: 24px));
                    }

                    &:hover {
                        background-color: darken($primary, 10%);
                    }


                    .title-button {
                        display: block;
                        width: 100%;
                        font-weight: 400;
                        @include poly-fluid-sizing('font-size', (320px: 14px,
                                768px: 14px,
                                1024px: 16px));

                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 2rem;
                        transform: translateY(-50%);
                        width: 4rem;
                        height: 4rem;
                        background-size: contain;
                    }


                    &.prenatales {
                        &:before {
                            background-image: url("../images/icon-prenatales.svg");
                            background-repeat: no-repeat;
                        }
                    }

                    &.postnatales {

                        &:before {
                            background-image: url("../images/picto-parents.svg");
                            background-repeat: no-repeat;
                        }
                    }

                    &.urgences {
                        background: $secondary;
                        color: #fff;

                        &:hover {
                            background-color: darken($secondary, 10%);
                        }

                        &:before {
                            background-repeat: no-repeat;
                            background-image: url("../images/icon-urgentes.svg");
                        }
                    }

                    &.formations-equipes-maternite {

                        &:before {
                            background-image: url("../images/picto-maternite.svg");
                            background-repeat: no-repeat;
                        }
                    }

                    &.formations-allaitement {

                        &:before {
                            background-image: url("../images/picto-allaitement.svg");
                            background-repeat: no-repeat;
                        }
                    }

                    &.coaching-individuel {

                        &:before {
                            background-repeat: no-repeat;
                            background-image: url("../images/picto-coaching.svg");
                        }
                    }
                }
            }
        }
    }

    #consultations,
    #formations {
        .item-category.box {
            position: relative;
            padding: 1.5rem;

            @include mq-up(md) {
                padding: 4rem;
            }

            &+.box {
                margin-top: 12rem;
            }

            h2.title-consultations {
                position: absolute;
                width: 100%;
                max-width: 35rem;
                text-align: right;
                transform: rotate(-90deg);
                right: 100%;
                bottom: calc(100% - 80px);
                transform-origin: bottom right;
                color: $blue;
                @include poly-fluid-sizing('font-size', (320px: 28px,
                        768px: 36px));

                &:before {
                    display: none;
                }
            }
        }

        .item-consultation {

            &+.item-consultation {
                margin-top: 10rem;
                border-top: 1px solid #ccc;
                padding-top: 8rem;
            }

            .img-wrapper {
                max-height: 40rem;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;

                img {
                    height: 100%;
                    min-width: 100%;
                }
            }

            h2.title {
                margin-bottom: 4rem;
            }

            &:nth-child(even) {
                .img-wrapper {

                    @include mq-up(lg) {
                        order: 1;
                    }
                }

                .content {
                    @include mq-up(lg) {
                        order: 0;
                    }
                }
            }

            .cta-group {

                @include mq-down(md) {
                    justify-content: center;
                }

                a {
                    &+a.rounded {

                        margin-left: 1rem;
                    }

                    &:last-child {
                        @include mq-up(md) {
                            // margin-left: auto;
                        }
                    }
                }

            }
        }
    }
}