    html {
        font-size: 62.5%;
        @include antialiasing;
    }

    html {
        margin: 0;
    }


    body {
        color: $color-txt;
        font-family: $ff;
        background: $color-bg;
        width: 100%;
        margin: 0 auto;
        font-size: 1.8rem;
        
        @include mq-down(lg) {
            // padding-top: 6.9rem;
            
        }
        .admin-bar .navbar-fixed-top {
            // top: 32px;
            }

        // &.logged-in {
        //     header {
        //         top: 3.2rem;
        //     }

        //         #secondary__nav {
        //             top: 32px;

        //             &.scrollTop {
        //                 top: 0;
        //             }
        //         }
            
        //     @include mq-down(md) {
        //         padding-top: 5.6rem;

        //     }
        // }

        &:not(.logged-in) {
            #btn-hide-wpbar {
                display: none;
            }
        }

    }

    h1 {
        font-family: $ff-title;
        // text-transform: uppercase;
        font-size: 5.4rem;
        // margin: 0 0 0 0;

    }

    h2 {
        font-family: $ff-title;
        // text-transform: uppercase;
        font-size: 3.2rem;
        // margin: 0 0 0 0;

    }

    p {
        font-size: 1.4rem;
        line-height: 1.6;
        color: $color-txt;

    }

    a {
        color: $color-link;
        text-decoration: none;

        &:hover {
            color: lighten($color-link, 10%);
        }
    }

    *,
    *:after,
    *:before {
        @include box-sizing(border-box);
    }
