html {
  font-size: 62.5%;
  margin: 0;
  @include antialiasing;
}

body {
  color: $color-txt;
  font-family: $ff;
  background: $color-bg;
  width: 100%;
  margin: 0;
}

section {
  position: relative;
  padding: 4rem 0;

  @include mq-up(md) {
    padding: 8rem 0;
  }
}

p, li {
  font-family: $ff;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 300;
  color: $secondary;

  &--sm {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}

a {
  color: $color-link;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);

  &:hover {
    color: $color-hover;
  }
}

ul {
  li {
    line-height: 1.6;
  }
}

ul.list {
  @include theme-ul;
}

ul.no-list {
  @include reset-ul;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-view {
  overflow-x: hidden;
}

.container {
  max-width: $xxl;
  width: 100%;
  margin: 0 auto;
  padding-right: 6vw;
  padding-left: 6vw;

  @include mq-down($lg) {
    padding: 0 5vw;
  }

  @include mq-down($md) {
    padding: 0 3vw;
  }

  &--sm {
    width: 100%;
    margin: 0 auto;
    max-width: 96rem;
    padding-right: 6vw;
    padding-left: 6vw;
  }

}

.content__section {
  padding: 6rem 0;

  &--small {
    padding: 4rem 0;
  }

  &--big {
    padding: 10rem 0;
  }
}

.bg__el {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 40vh;
  background: $primary;
  border-radius: 50%;
  transform: rotate(25deg);
  z-index: -1;
  opacity: .25;

  &--rt {
    left: 50%;
    transform: rotate(-25deg);
  }
}

.img-wrapper {
  max-width: 100%;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding-right: 0 !important;
  padding-left: 0 !important;

  img {
    object-fit: cover;
  }
}

.box {
  background: #fff;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(175, 175, 175, 0.15);
  box-shadow: 0px 3px 5px 1px rgba(175, 175, 175, 0.15);
  border-radius: 30px;

  @include mq-down(md) {

    &+.box {
      margin-top: 2rem;
    }
  }

  .img-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .content {
    padding: 2rem;
  }
}