h1,
h2,
h3,
h4 {
    position: relative;
    // display: inline-block;
    font-family: $ff-title;
    font-weight: 500;
    line-height: 1.3;
    color: $secondary;

    &.title {
        &--lt {
            @include mq-up(lg) {
                text-align: left;
            }
        }

        &--ctr {
            display: block;
            text-align: center;

            &:before {
                left: 50% !important;
                transform: translateX(-50%);
            }

        }

        &--rt {

            @include mq-up(lg) {
                text-align: right;
            }
        }
    }
}

h1 {
    margin: 0 0 2rem 0;
    font-weight: 400;
    color: $primary;
    // line-height: 1;
    @include poly-fluid-sizing("font-size",
        (768px: 48px,
            1024px: 62px,
            1400px: 80px,
        ));

    &.title-hero {
        position: relative;
        display: block;
        background: -webkit-linear-gradient(-112deg, $tertiary, $primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span.small {
        @include poly-fluid-sizing("font-size",
            (768px: 30px,
                1024px: 36px,
                1400px: 48px,
            ));
            color: $secondary;
    }
    .purple {
        color: $secondary;
    }
    .subtitle {
        display: block;
    }
}

h2 {
    color: $secondary;
    margin: 0 0 8rem 0;
    font-weight: 400;
    @include poly-fluid-sizing("font-size",
        (768px: 24px,
            1024px: 36px,
        ));

    &.title {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 7.5rem;
            height: .4rem;
            bottom: -2rem;
            left: 0;
            background: $primary;
            border-radius: 5px;
            z-index: 0;
        }

        &--sm {
            margin: 0 0 2rem 0;
            @include poly-fluid-sizing("font-size",
                (768px: 20px,
                    1024px: 24px,
                ));

            &:before {
                display: none;
            }
        }
    }
}

h3 {
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    @include poly-fluid-sizing("font-size",
        (320px: 14px,
            768px: 16px,
            1024px: 20px,
        ));
}

h4 {
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    @include poly-fluid-sizing("font-size",
        (320px: 10px,
            768px: 12px,
            1024px: 18px,
        ));
}

.title-wrapper {
    width: 100%;
    text-align: center;
}