@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/gilroy-medium.woff") format("woff"), url("../../fonts/gilroy-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/gilroy-bold.woff") format("woff"), url("../../fonts/gilroy-bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/gilroy-extrabold.woff") format("woff"), url("../../fonts/gilroy-extrabold.ttf") format("truetype");
    font-weight: 800;
}

