// useful classes

// Alignment

.txt-left {
    text-align: left;
  }
  
  .txt-center {
    text-align: center;
  }
  
  .txt-right {
    text-align: right;
  }
  
  .align-center {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  
  // Colors
  
  .white {
    color: #fff;
  }
  
  
  // Responsive embed iframe
  
  .responsive-embed {
    position: relative;
      overflow: hidden;
      padding-top: 56.25%;
  
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
  }
  
  // Hide recaptcha badge v3
  
  .grecaptcha-badge {
    display: none;
  }

//   CTA

  .cta {
    width: 100%;
    padding: 2rem 0;
    &.center {
      text-align: center;
    }
  }