// Colors

$primary: #eed1d6;
$secondary: #98647b;
$tertiary: #fff;
$blue: #2d6073;

$color-bg: #fff;
$color-txt: #686f7c;

$anderson: #003FBF;

// Color Lines

$grey-light: #f4f4f4;
$grey-dark: #99a5bb;

$color-link: $primary;
$color-hover: darken($primary, 10%);

$color-bd: #000;
$color-bd-light: #fff;


// fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500&display=swap');

$ff-title : 'Mulish', Arial, sans-serif;
$ff: 'Catamaran', Arial, sans-serif;

// Screen sizes

$xs: 360px;
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1238px;
$xxl: 1400px;
